<script>
    $.get("<%= url_for(portfolio_party_path) %>", function(data) {
        var options = {
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Porfólio fondu <%= @party.acronym %>'
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.point.name + '</b>: ' + this.y + ' %';
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: []
        };

        var series =
            {
                type: 'pie',
                data: []
            }
        ;
        $.each(data, function(label, value) {
                series.data.push([label,value]);
        });
        options.series.push(series);
        // Create the chart
        var chart = new Highcharts.Chart(options);
    })
            ;
</script>
<div id="container"></div>