<script>

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'line',
         marginRight: 130,
         marginBottom: 25
      },
      xAxis: {
        categories: [<%= (1993..Time.now.year).to_a.collect {|e| "'#{e}'"}.join(", ") %>]
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Výnos fondu politickej strany v €'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y +'Â°C';
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: -10,
         y: 100,
         borderWidth: 0
      },
      series: [
      <%= @profits_per_year.collect { |party, profits| "{name: '#{party.name}', data: #{profits.inspect}}" }.join(',') %>
      ],
      credits: {
        enabled: false
      }
   });
   
   
 });

 </script>
 <div id="container"></div>
