<script type="text/javascript">
  unmapped_entities_buffer = <%= render "entities_json.json" %>

  $(document).ready(function() {
    mapping = new ManualMapping(unmapped_entities_buffer, 9, '<%= @entity_type %>')
    mapping.start()
  });
</script>

<div id="mapping">
  <div id="loading">Loading..</div>

  <h1><strong id="company"></strong> &mdash; <em id="current_address"></em></h1>
  <ol id="candidates">
    <li class="candidate" id="candidate0"></li>
    <li class="candidate" id="candidate1"></li>
    <li class="candidate" id="candidate2"></li>
    <li class="candidate" id="candidate3"></li>
    <li class="candidate" id="candidate4"></li>
  </ol>
</div>

<div id="messages">
  <div class="message info">Pre priraďovanie firiem použi numerické klávesy 1, 2, 3, 4 a 5. Ak firmu nevieš priradiť jednoznačne, stlač klávesu 0 pre prechod na ďalšiu firmu.</div>
</div>
