<script type="text/javascript">
  var unmapped_entities_buffer = <%= render "entities_json.json" %>
</script>

<div id="loading">Loading..</div>

<h1 id="company"></h1>
<h2 id="current_address"></h2>
<ol id="candidates">
  <li id="candidate0"></li>
  <li id="candidate1"></li>
  <li id="candidate2"></li>
  <li id="candidate3"></li>
  <li id="candidate4"></li>
</ol>
0 - ani jedna z možností
