<table class='mapping_crossroad'>
  <thead>
    <tr>
      <th>Typ</th>
      <th>Počet nepriradených</th>
    </tr>
  </thead>
  <tbody>
    <% @datanest_models.each do |model_class| %>
      <tr>
        <td><%= link_to model_class.dname, mapping_entities_url(:type => model_class.name.demodulize.tableize) %></td>
        <td><%= model_class.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
